.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
  border: 0px;
  padding: 10px 0 0 0;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 499;
  overflow: hidden;
}
.navbar__content {
  display: flex;
  color: rgb(255, 255, 255);
  letter-spacing: 0px;
  text-align: left;
  list-style: none;
  border-radius: 0px;
  outline: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  border: 0px;
  font: inherit;
  width: 100%;
  height: 70px;
  padding: 10px 0px 0px;
  position: relative;
  z-index: 499;
}

.navbar__explore-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  text-align: left;
  text-decoration: none;
  padding: 0px;
  font-size: inherit;
  margin: 10px 0 15px 0;
  position: relative;
  width: 100%;
}
.navbar__explore-content {
  text-align: left;
  font: inherit;
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  display: block;
}


/* !media query fo medium device */
@media only screen and (min-width: 614px) and (max-width: 844px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 0;
    justify-content: center;
    width: 100%;
    max-width: 614px;
    position: relative;
    z-index: 499;
    overflow: hidden;
  }
  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 100%;
  }
 
  .navbar__giphy-logo {
    color: rgb(255, 255, 255);
    border: 0px;
    outline: none;
    width: 164px;
  }
  .navbar__gif-small-logo {
    display: none;
  }
 
  .navbar__explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 0px;
    font-size: inherit;
    margin: 10px 0 15px 0;
    position: relative;
    width: 100%;
  }
  .navbar__explore-content {
    display: block;
    font-size: 32px;
  }

}

/* ! media query for small devices */
@media only screen and (min-width: 321px) and (max-width: 613px) {
  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navbar__logo-container {
    display: none;
  }
  .navbar__gif-small-logo {
    display: flex;
    border: 0px;
    outline: none;
    width: 140px;
    cursor: pointer;
  }
 
  .navbar__explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    padding: 0px;
    font-size: inherit;
    margin: 10px 0 15px 0;
    position: relative;
    width: 100%;
  }
  .navbar__explore-content {
    display: block;
    font-size: 28px;
  }
  
}

